{% extends 'base_content.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 style="margin-bottom: 20px;">{{ club.name }}</h1>

      <div class="container">
        <div class="col col-md-auto">

          <ul>
            <li><b>Owner:</b><br />
              <img style="border-radius: 8px;" src="{{ club.owner.mini_gravatar }}"
                       alt="{{ club.owner.first_name }} {{ club.owner.last_name }}'s profile picture">
              {{ club.owner.first_name }} {{ club.owner.last_name }}</li>
            <li><b>Description:</b> {{ club.description }}</li>
            <li><b>Location:</b> {{ club.name }}</li>
          </ul>

          <form action="club_page" method="POST">
            <input id="submit" type="button" value="Apply" />
          </form>

          <br /><br />
          {% if curr_user in club.get_all_applicants %}
            <p>You have applied to this club</p>
          {% endif %}

          {% if curr_user in club.get_members %}
            <p>You are a member of this club</p>
          {% endif %}

          {% if curr_user in club.get_officers %}
            <p>You are an officer of this club</p>
          {% endif %}

          {% if curr_user in club.get %}
            <p>You are a member of this club</p>
          {% endif %}

          {% if curr_user == club.get_owner %}
            <p>You are the owner of this club</p>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
