<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

{% extends 'base_content.html' %}
{% block title %} Home{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Hello, {{ user.first_name }}!</h1>
                <p><span class="fas fa-quote-left"></span>&nbsp;&nbsp;{{ pun }}</p>

                <h5>Incomplete tournaments</h5>
                {% if incomplete_user_tournaments %}
                    <table id="user-tournament-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Hosting club</th>
                            <th scope="col">Status</th>
                            <th scope="col">Start date</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for tournament in incomplete_user_tournaments %}
                                <tr>
                                    <td><a href="{% url 'view_tournament' tournament.id %}">{{ tournament.name }}</a></td>
                                    <td><a href="{% url 'club_page' tournament.club.id %}">{{ tournament.club.name }}</a></td>
                                    <td>{{ tournament.get_status }}</td>
                                    <td>{{ tournament.deadline }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There are no unfinished tournaments currently taking place (in any clubs that you belong to)...</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-subtitle mb-2 text-muted">Daily chess puzzle</h4>
                        <h6 class="card-subtitle mb-2 text-muted"> {{ date }}</h6>
                        <img style="margin-bottom: 12px;" class="card-img" id="puzzle-image" alt="Daily chess puzzle" />
                        <p style="float:right; margin-bottom: 0px;" class="card-text" id="puzzle-text"></p>
                        <a class="btn btn-outline-secondary btn-sm" id="puzzle-link" href="#" target="_blank">Try to solve</a>
                        <a class="btn btn-outline-success btn-sm" id="puzzle-solution" href="#" target="_blank">View solution</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        fetch("https://chesspuzzle.net/Daily/Api")
            .then(response => response.json())
            .then(daily_puzzle => {
                document.getElementById("puzzle-image").src = daily_puzzle.Image;
                document.getElementById("puzzle-text").innerHTML = daily_puzzle.Text;
                document.getElementById("puzzle-link").href = daily_puzzle.Link;
                document.getElementById("puzzle-solution").href = daily_puzzle.Link.replace("Puzzle", "Solution");
            })

        {% if incomplete_user_tournaments %}
            const userTournamentTable = new simpleDatatables.DataTable("#user-tournament-table", {
                perPage: 10
            })
        {% endif %}
    </script>
    <!-- {% include 'partials/background.html' with colour="C6A38B" %} -->
{% endblock %}
