{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="row col-12" style="height: 92vh;">
            <div class="my-auto mx-auto">
                <h2>A homepage will go here...</h2>
                {% for c in applied_clubs %}
                <h2>{{c.name}}<h2>
                {% endfor %}

                 <button type = "button" class="notifications_button">
                  <span class="material-icons">
                    notifications
                  </span>
                  <!-- "2" is placeholder number for when notifications page is implemented -->
                  <span class="notification-button__badge">2</span>
                </button>

            </div>
        </div>
    </div>
    {% include 'partials/background.html' with colour="C6A38B" %}
{% endblock %}
