{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <div class="row col-12" style="height: 92vh;">
            <div class="my-auto mx-auto">
                <h2>Upcoming Tournaments</h2>
                {% for t in upcoming_tournaments %}
                <h1> {{ t.name }} : starts at {{ t.deadline }}</h1>
                {% endfor %}

            </div>
        </div>
    </div>
    {% include 'partials/background.html' with colour="C6A38B" %}
{% endblock %}
