
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
        <a href= "{% url 'view_tournament' curr_tournament.id  %}" class="btn btn-primary">&laquo; Back </a>
      <h1>{{ curr_tournament.name }} Leaderboard</h1>
      <table id="leaderboard" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">RANK</th>
            <th scope="col">ELO</th>
            <th scope="col">Participant</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for p in participants %}
          <tr>
            <td> 1 </td>
            <td class = "elo_rating">{{ p.elo_rating }}</td>
            <td>
              <img style="border-radius: 8px; margin: 0 10px 10px 0;" src="{{ p.mini_gravatar }}" alt="{{ p.email }}'s profile picture">
              {{ p.first_name }} {{ p.last_name }}
              <br>
              {{ p.bio }}
            </td>
            <td>
              <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function is_unique(arr, val){
    for(let i = 0; i<arr.length; i++){
      if (arr[i]['elo'] == val){
        return false;
      }
    }
    return true;
  }

  $(document).ready(function(){
    let totals = $(".elo_rating")
    let sort_array = []
    let counter = 0
    for (let x = 0; x<totals.length; x++){
      if(is_unique(sort_array, totals[x].textContent)){
        counter++;
      sort_array.push({ elo: totals[x].textContent, ranking: counter })
    }
    }
    var table = document.getElementById("leaderboard");
    for( var i = 0, row; row = table.rows[i]; i++){
        for( let p = 0; p < sort_array.length; p++){
          if(row.innerHTML.includes(">" + sort_array[p]['elo'] + "<"))
          row.cells[0].innerHTML = sort_array[p]['ranking']
      }
    }
  });
  </script>

<script>
    const dataTable = new simpleDatatables.DataTable("#leaderboard", {
        columns: [
        {select: 1, sort: "desc" },
        {select: [0,1,2,3], sortable: false}
        ],
        perPage: 30
    })
</script>
{% endblock %}
