<h1>Users</h1>

<table style="width:100%;">
    <tbody>
        <tr style="text-align: left;">
            <th></th>
            <th>Name</th>
            <th>Username</th>
            <th>Chess experience</th>

            {% if user.user_level == "Officer" or user.user_level == "Owner" %}
                <th>Email</th>
                <th>Role</th>
                <th>Options</th>
            {% endif %}
        </tr>
        {% for listed_user in users %}
        <tr>
            <td style="width: 4vw;"><img src="{{ listed_user.mini_gravatar }}" alt="{{ listed_user.username }}'s profile picture"></td>
            <td>{{ listed_user.first_name }} {{ listed_user.last_name }}</td>
            <td>{{ listed_user.username }}</td>
            <td>{{ listed_user.chess_exp }}</td>

            {% if user.user_level == "Officer" or user.user_level == "Owner" %}
                <td>{{ listed_user.email }}</td>
                <td>{{ listed_user.user_level }}</td>
                <td>
                    <form action="#" method="get">
                        <input hidden type="text" value="{{ listed_user }}" name="listed_user"/>

                        {% if user.user_level != "Member" and listed_user.user_level == "Applicant" or listed_user.user_level == "Member" %}
                            <input type="submit" value="Promote" name="promote">
                        {% endif %}

                        {% if user.user_level == "Owner" and listed_user.user_level == "Officer" %}
                            <input type="submit" value="Demote" name="demote">
                            <input disabled type="submit" value="Switch ownership" name="switch_owner">
                            <!-- popup box for switching ownership -->
                        {% endif %}
                    </form>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>