<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

{% extends 'base_content.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% if winner %}
                    <div class="alert alert-success" role="alert"><b><a href="{% url 'profile' tournament.winner.id %}">{{ tournament.winner.full_name }}</a></b> won this tournament, congratulations!</div>
                {% endif %}

                {% if not deadline_passed and user in tournament.club.get_all_users and user != tournament.organiser %}
                    {% if user not in tournament.participants.all %}
                        <input style="float:right;" type="submit" value="Join" class="btn btn-secondary">
                    {% else %}
                        <input style="float:right; margin-left:8px;" type="submit" value="Leave?" class="btn btn-outline-danger">
                        <input disabled style="float:right;" type="submit" value="Joined!" class="btn btn-secondary">
                    {% endif %}
                {% endif %}

                <h1>{{ tournament.name }}</h1>
                <p>{{ tournament.description }}</p>

                <h5>Matches</h5>
                {% if not tournament.get_all_matches %}
                    <p>There are no matches yet.</p>
                {% else %}
                    <p>MATCHES WILL BE SHOWN HERE</p>
                {% endif %}

                <h5>Participants</h5>
                {% if tournament.participants.count == 0 %}
                    <p>There are no participants yet, apply now!</p>
                {% else %}
                    <table id="participant-table" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Name</th>
                                <th scope="col">Chess experience</th>
                                <th scope="col">Elo rating</th>
                            </tr>
                        </thead>
                        {% for participant in tournament.participants.all %}
                            <tr>
                                <td>
                                    <img style="border-radius: 8px;" src="{{ participant.mini_gravatar }}" alt="{{ participant.full_name }}'s profile picture">
                                </td>
                                <td>{{ participant.full_name }}</td>
                                <td>{{ participant.chess_exp }}</td>
                                <td>{{ participant.elo_rating }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">
                        <img style="border-radius: 8px; float:right;" src="{{ tournament.organiser.mini_gravatar }}" alt="{{ tournament.organiser.full_name }}'s profile picture">
                        <h6 class="card-subtitle mb-2 text-muted">Organised by</h6>
                        <h5 class="card-title"><a href="{% url 'profile' tournament.organiser.id %}">{{ tournament.organiser.full_name }}</a></h5>
                        <p class="card-text">{{ tournament.organiser.bio }}</p>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Tournaments organised:</b> {{ tournament.organiser.organises.count }}</li>
                            <li class="list-group-item"><b>Tournaments won:</b> {{ tournament.organiser.get_number_of_tournaments_won }}</li>
                            <li class="list-group-item"><b>Chess experience:</b> {{ tournament.organiser.chess_exp }}</li>
                            <li class="list-group-item"><b>Elo rating:</b> {{ tournament.organiser.elo_rating }}</li>
                        </ul>
                    </div>
                </div>

                </br>

                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">Hosted by</h6>
                        <h5 class="card-title"><a href="#">{{ tournament.club.name }}</a></h5> <!-- TODO add club profile url -->
                        <p class="card-text">{{ tournament.club.description }}</p>
                        <ul class="list-group">
                            <li class="list-group-item"><b>Tournaments hosted:</b> {{ tournament.club.get_number_of_tournaments }}</li>
                            <li class="list-group-item"><b>Location:</b> {{ tournament.club.location }}</li>
                            <li class="list-group-item"><b>Members:</b> {{ tournament.club.get_all_users.count }}</li>
                        </ul>
                    </div>
                </div>

                </br>

                <ul class="list-group">
                    {% if tournament.coorganisers %}
                        <li class="list-group-item"><b>Coorganisers:</b>
                            <ul>
                                {% for coorganiser in tournament.coorganisers.all %}
                                    <li><a href="{% url 'profile' coorganiser.id %}">{{ coorganiser.full_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    <li class="list-group-item"><b>Application deadline:</b> {{ tournament.deadline }}</li>
                </ul>

                </br>
            </div>
        </div>
    </div>

    <script>
        const dataTable = new simpleDatatables.DataTable("#participant-table", {
            columns: [{select: [0], sortable: false}],
            perPage: 5
        })
    </script>

{% endblock %}
