<style>
    .hr-sect {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        color: rgba(0, 0, 0, .125);
        margin: 8px 0px;
    }

    .hr-sect:before,
    .hr-sect:after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, .125);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 8px;
    }
</style>

{% extends 'base.html' %}
{% block body %}
<div class="container vh-100">
    <div class="row h-100">
        <div class="my-auto mx-auto w-50">
            <div class="card text-center">
                <div class="card-body">
                    <div class="container">
                        <div class="row justify-content-center align-items-center">
                            <div class="col">
                                <span style="font-size: 7rem;" class="fas fa-chess"></span>
                                <h1>Chess Club</h1>
                                <!-- <p>Team Hippopotamus</p> -->
                            </div>
                            <div class="col">
                                <p><a href="{% url 'log_in' %}" class="btn btn-secondary" style="margin-top: 16px;">Log in</a></p>
                                <div class="hr-sect">or</div>
                                <p><a href="{% url 'sign_up' %}" class="btn btn-secondary"
                                            style="margin-top: 8px;">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partials/background.html' with colour="6F4E37" %}
{% endblock %}